<div class="logo-print visible-print" aria-hidden="true">
<img src="http://aem.canadaeast.cloudapp.azure.com:4502/apps/personal-banking/components/structure/header/src/td-logo.png" width="36" height="32" alt="TD Canada Trust">
</div>
<div class="td_rq_header-nav td-header-nav">
    <!-- Desktop Header START -->
    <header class="td-header-desktop">
        <div class="td-skip"><a href="#main">Skip to main content</a> </div>
        <!-- Desktop utility toggle START -->
        <div class="td-utility-toggle">
            <div class="td-container">
                <div class="td-section-left">
                    <div class="td-segments">
                        <ul>
                            <li class="active"><a href="#">Personal</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Wealth</a></li>
                        </ul>
                    </div>
                </div>
                <div class="td-section-right">
                    <div class="td-other-toggles">
                        <ul>
                            <li class="td-dropdown td-dropdown-country td-dropdown-no-hover">
                                <a href="#" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-0"><span class="td-forscreenreader">Select country</span><img class="country-flag" src="http://aem.canadaeast.cloudapp.azure.com:4502/apps/personal-banking/components/structure/header/src/country_ca.png" alt="Canada"><span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></a>
                                <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-0">
                                    <li class="active"><a href="#"><img class="country-flag" src="./TD Standards Responsive_files/td-logo.png" alt="">Canada<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a></li>
                                    <li><a href="#"><img class="country-flag" src="http://aem.canadaeast.cloudapp.azure.com:4502/apps/personal-banking/components/structure/header/src/country_us.png" alt="">United States</a></li>
                                </ul>
                            </li>
                            <li class="td-dropdown td-dropdown-language td-dropdown-no-hover">
                                <a href="#" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-1"><span class="td-forscreenreader">Select language</span>English<span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></a>
                                <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-1">
                                    <li lang="en" class="active"><a href="#">English<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a></li>
                                    <li lang="fr"><a href="https://www.tdcanadatrust.com/francais/">Français</a></li>
                                    <li lang="zh-Hans"><a href="#">简体中文</a></li>
                                    <li lang="zh-Hant"><a href="#">繁體中文</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Desktop utility toggle END -->
        <!-- Desktop primary nav START -->
        <div class="td-nav-primary">
            <div class="td-container">
                <div class="td-section-left">
                    <div class="td-logo"><a href="https://www.tdstandards.com/"><img src="http://aem.canadaeast.cloudapp.azure.com:4502/apps/personal-banking/components/structure/header/src/td-logo.png" srcset="" alt="TD Canada Trust"></a></div>
                    <nav>
                        <ul>
                            <li><a href="#">My TD</a></li>
                            <li><a href="#">How To</a></li>
                            <li class="td-dropdown active">
                                <a href="#" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-2">Products<span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a>
                                <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-2">
                                    <li><a href="#">Accounts</a></li>
                                    <li><a href="#">Credit Cards</a></li>
                                    <li><a href="#">Mortgages</a></li>
                                    <li><a href="#">Borrowing</a></li>
                                    <li><a href="#">Saving &amp; Investing</a></li>
                                    <li><a href="#">Insurance</a></li>
                                    <li><a href="#">All Products</a></li>
                                </ul>
                            </li>
                            <li class="td-dropdown">
                                <a href="#" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-3">Solutions<span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></a>
                                <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-3">
                                    <li><a href="#">Wealth</a></li>
                                    <li><a href="#">Direct Investor</a></li>
                                    <li><a href="#">Pay &amp; Send Money</a></li>
                                    <li><a href="#">Students</a></li>
                                    <li><a href="#">New To Canada</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Cross Border</a></li>
                                    <li><a href="#">Business</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="td-section-right">
                   <div class="td-quick-access">
                        <ul>
                            <li class="find-us"><a href="#"><span class="td-icon"></span><span class="td-label">Find Us</span></a></li>
                            <li class="help"><a href="#"><span class="td-icon"></span><span class="td-label">Help</span></a></li>
                            <li class="search"><a href="#" class="td-desktop-search-show-btn"><span class="td-icon"></span><span class="td-label">Search</span></a></li>
                            <li class="divider"><div class="td-divider-line"></div></li>
                            <li class="login td-dropdown">
                                <a href="#" class="td-show-label" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-4"><span class="td-icon"></span><span class="td-label">Login</span><span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></a>
                                <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-4">
                                    <li><a href="#">Show on All</a></li>
                                    <li><a href="#">Desktop &amp; Tablet Landscape</a></li>
                                    <li class="visible-lg"><a href="#">Desktop Only</a></li>
                                    <li class="visible-md"><a href="#">Tablet Landscape Only</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="td-nav-desktop-search">
                    <div class="td-search-container">
                        <form class="td-search-box">
                            <input type="text" placeholder="Search" name="search" class="td-search-input" aria-label="Search">
                            <span class="td-search-icon" aria-hidden="true"><span class="td-icon"></span></span>
                            <input type="submit" class="td-search-submit" value="search">
                        </form>
                        <button type="button" class="td-desktop-search-hide-btn"><span class="td-forscreenreader">Close Search</span><span class="td-icon" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Desktop primary nav END -->
    </header>
    <!-- Desktop Header END -->

    <!-- Mobile Header START -->
    <header class="td-header-mobile">
        <div class="td-container">
            <div class="td-section-left">
                <button type="button" class="td-mobile-action-button td-mobile-menu-button" aria-haspopup="true" aria-expanded="false">
                    <div class="td-mobile-menu-button-icon">
                        <span class="td-forscreenreader">Open menu</span>
                        <span class="icon-bar" aria-hidden="true"></span>
                        <span class="icon-bar" aria-hidden="true"></span>
                        <span class="icon-bar" aria-hidden="true"></span>
                    </div>
                    <div class="td-logo"><img src="http://aem.canadaeast.cloudapp.azure.com:4502/apps/personal-banking/components/structure/header/src/td-logo.png" srcset="" alt="TD Canada Trust"></div>
                </button>
                <button type="button" class="td-mobile-action-button td-mobile-back-button" onclick="history.back();">
                    <div class="td-mobile-back-button-icon"><span class="td-icon"></span><span class="td-forscreenreader">Back</span></div><!--
                    --><div class="td-logo"><img src="./TD Standards Responsive_files/td-td-logo.png" srcset="" alt="TD Canada Trust"></div>
                </button>
            </div>
            <div class="td-section-right">
                <button type="button" class="td-mobile-action-button td-mobile-menu-secondary-button td-login" aria-haspopup="true" aria-expanded="false">
                    <span class="td-icon login"></span><span class="label">Login</span>
                </button>
            </div>
        </div>
    </header>
    <!-- Mobile Header END -->

    <!-- Mobile Off-canvas Menu START -->
    <div class="td-nav-mobile">
        <!-- Primary mobile menu START -->
        <div class="td-nav-mobile-menu td-nav-mobile-menu-primary"><span tabindex="0"></span>
            <div class="td-nav-mobile-menu-top">
                <div class="td-nav-mobile-menu-header">
                    <div class="td-logo"><a href="https://www.tdstandards.com/"><img src="http://aem.canadaeast.cloudapp.azure.com:4502/apps/personal-banking/components/structure/header/src/td-logo.png" srcset="" alt="TD Canada Trust"></a></div>
                    <button type="button" class="td-mobile-menu-close"><span class="td-forscreenreader" aria-hidden="">Close Menu</span><span class="td-icon" aria-hidden="true"></span></button>
                </div>
                <div class="td-nav-mobile-menu-search">
                    <form class="td-search-box">
                        <input type="text" placeholder="Search" name="search" class="td-search-input" aria-label="Search">
                        <span class="td-search-icon"><span class="td-icon" aria-hidden="true"></span></span>
                        <input type="submit" class="td-search-submit" value="search">
                    </form>
                </div>
            </div>
            <nav>
            <ul class="td-nav-mobile-menu-list">
                <li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-segment">
                    <a href="#" aria-expanded="false" role="button">TD: Personal Banking<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
                    <ul class="td-accordion-content">
                        <li class="active"><a href="#">Personal Banking<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Wealth</a></li>
                        <li><a href="#">TD Websites</a></li>
                    </ul>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-home active">
                    <a href="#"><span class="td-icon td-icon-homepage"></span>Home</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-my-TD">
                    <a href="#"><span class="td-icon td-icon-myTD"></span>My TD</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-how-to">
                    <a href="#"><span class="td-icon td-icon-howTo"></span>How To</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-accounts">
                    <a href="#"><span class="td-icon td-icon-accounts"></span>Accounts</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-credit-cards">
                    <a href="#"><span class="td-icon td-icon-creditcards"></span>Credit Cards</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-mortgages">
                    <a href="#"><span class="td-icon td-icon-mortgages"></span>Mortgages</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-borrowing">
                    <a href="#"><span class="td-icon td-icon-borrowing"></span>Borrowing</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-saving-investing">
                    <a href="#"><span class="td-icon td-icon-savingAndInvesting"></span>Saving &amp; Investing</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-insurance">
                    <a href="#"><span class="td-icon td-icon-insurance"></span>Insurance</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-all-products">
                    <a href="#"><span class="td-icon td-icon-allProducts"></span>All Products</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link td-accordion item-solutions">
                    <a href="#" aria-expanded="false" role="button"><span class="td-icon td-icon-solutions"></span>Solutions<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
                    <ul class="td-accordion-content">
                        <li class="active"><a href="https://www.td.com/ca/products-services/td-wealth/">Wealth</a></li>
                        <li><a href="#">Direct Investor</a></li>
                        <li><a href="#">Pay &amp; Send Money</a></li>
                        <li><a href="#">Students</a></li>
                        <li><a href="#">New To Canada</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Cross Border</a></li>
                        <li><a href="#">Foreign Exchange Services</a></li>						
                        <li><a href="#">Business</a></li>
                    </ul>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link item-find-us">
                    <a href="#"><span class="td-icon td-icon-location"></span>Find Us</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-nav-link td-item-nav-link-last item-help-me">
                    <a href="#"><span class="td-icon td-icon-help"></span>Help Me</a>
                </li>
                <li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-country">
                    <a href="#" aria-expanded="false" role="button">Country: Canada<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
                    <ul class="td-accordion-content">
                        <li class="active"><a href="#"><img class="country-flag" src="./TD Standards Responsive_files/td-logo.png" alt="Canada">Canada<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a></li>
                        <li><a href="#"><img class="country-flag" src="./TD Standards Responsive_files/country_us.png" alt="Canada">United States</a></li>
                    </ul>
                </li>
                <li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-language">
                    <a href="#" aria-expanded="false" role="button">Language: English<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
                    <ul class="td-accordion-content">
                        <li lang="en" class="active"><a href="#">English<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a></li>
                        <li lang="fr"><a href="#">Français</a></li>
                        <li lang="zh-Hans"><a href="#">简体中文</a></li>
                        <li lang="zh-Hant"><a href="https://zt.tdcanadatrust.com/">繁體中文</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        <span tabindex="0"></span></div>
        <!-- Primary mobile menu END -->

        <!-- Secondary mobile menu START -->
        <div class="td-nav-mobile-menu td-nav-mobile-menu-secondary td-nav-mobile-menu-right"><span tabindex="0"></span>
            <div class="td-nav-mobile-menu-top">
                <div class="td-nav-mobile-menu-header">
                    <div class="td-nav-mobile-menu-title"><span class="td-icon login" aria-hidden="true"></span>Login</div>
                    <button type="button" class="td-mobile-menu-close"><span class="td-forscreenreader" aria-hidden="">Close Menu</span><span class="td-icon" aria-hidden="true"></span></button>
                </div>
            </div>
            <nav>
                <ul class="td-nav-mobile-menu-list">
                    <li class="td-nav-mobile-menu-item td-item-nav-link item-show-on-all">
                        <a href="#"><span class="td-icon td-icon-noIcon"></span>Show on All</a>
                    </li>
                    <li class="td-nav-mobile-menu-item td-item-nav-link item-tablet-portrait-mobile">
                        <a href="#"><span class="td-icon td-icon-noIcon"></span>Tablet-Portrait &amp; Mobile</a>
                    </li>
                    <li class="td-nav-mobile-menu-item td-item-nav-link item-tablet-portrait-only visible-sm">
                        <a href="#"><span class="td-icon td-icon-noIcon"></span>Tablet-Portrait Only</a>
                    </li>
                    <li class="td-nav-mobile-menu-item td-item-nav-link item-mobile-only visible-xs">
                        <a href="#"><span class="td-icon td-icon-noIcon"></span>Mobile Only</a>
                    </li>
                </ul>
            </nav>
        <span tabindex="0"></span></div>
        <!-- Secondary mobile menu START -->
        <div class="td-nav-mobile-overlay"></div>
    </div>
    <!-- Mobile Off-canvas Menu END -->
</div>
