
<form action="/action_page.php">
  <input type="checkbox" id="checkbox1" name="checkbox1" value="Investment Strategies">
  <label for="checkbox1"> Investment Strategies</label><br>

  <input type="checkbox" id="checkbox2" name="checkbox2" value="Media Inquiries">
  <label for="checkbox2"> Media Inquiries</label><br>

  <input type="checkbox" id="checkbox3" name="checkbox3" value="General Inquiries">
  <label for="checkbox3">General Inquiries</label><br>

  <input type="checkbox" id="checkbox4" name="checkbox4" value="Thought Leadership">
  <label for="checkbox4">Thought Leadership</label><br>

  <input type="checkbox" id="checkbox5" name="checkbox5" value="Career Opportunities">
  <label for="checkbox5">Career Opportunities</label><br><br>


  <label for="text1">Name*</</label>
  <input type="text" id="text1" name="text1" placeholder="Jane Doe"><br><br>

  <label for="text2">Email*</label>
  <input type="text" id="text2" name="text2" placeholder="janedoe@account.com"><br><br>

  <label for="text3">Organization</</label>
  <input type="text" id="text3" name="text3" placeholder="Corporation Name"><br><br>

  <label for="text4">Phone</label>
  <input type="text" id="text4" name="text4" placeholder="(123)456 789"><br><br>

  <label for="text5">Existing consultant relationship(if applicable)</</label>
  <input type="text" id="text5" name="text5" placeholder="XXXXXX"><br><br>

  <label for="text6">Additional information to help us better</label>
  <input type="textarea" id="text6" name="text6" placeholder=" "><br><br>

  <input type="submit" value="Sent Request">
</form>